/** @format */

.rpass-newpass-text {
    color: #1d1c1d;
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.rpass-cpass-text {
    color: #1d1c1d;
    margin-top: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
